# Онлайн магазин 
#### Опис: 
У вас є набір даних з інформацією про покупки клієнтів в інтернет-магазині: 
- InvoiceNo: Номер накладної (ідентифікатор транзакції).
- StockCode: Код товару.
- Description: Опис товару.
- Quantity: Кількість проданих одиниць товару.
- InvoiceDate: Дата і час транзакції.
- UnitPrice: Ціна за одиницю товару.
- CustomerID: Ідентифікатор клієнта.
- Country: Країна, де здійснено покупку. 
Необхідно виконати нижче вказані задачі.

#### Задачі:
1. Аналіз по країнах:
- З’ясувати, в якій країні відбулося найбільше транзакцій.
- Порахувати загальний дохід від продажів у кожній країні.

2. Аналіз продажів:
- Порахувати загальну кількість проданих одиниць кожного товару. Це дозволить визначити, які товари є найбільш популярними.
- начити, який товар мав найбільші продажі за кількістю.

3. Аналіз виручки:
- Обчислити дохід для кожної транзакції, перемноживши кількість товарів на їхню ціну (Quantity × UnitPrice).
- найти товар, який приніс найбільший дохід.

In [1]:
from itertools import groupby

import pandas as pd
import numpy as np

from main import online_retail_dashboard

online_retail_dashboard = pd.read_excel('data/Online_Retail.xlsx')
online_retail_dashboard.head(100)

max country name: United Kingdom, and max country count: 495478
                 Country  totalIncome
0              Australia   137077.270
1                Austria    10154.320
2                Bahrain      548.400
3                Belgium    40910.960
4                 Brazil     1143.600
5                 Canada     3666.380
6        Channel Islands    20086.290
7                 Cyprus    12946.290
8         Czech Republic      707.720
9                Denmark    18768.140
10                  EIRE   263276.820
11    European Community     1291.750
12               Finland    22326.740
13                France   197403.900
14               Germany   221698.210
15                Greece     4710.520
16             Hong Kong    10117.040
17               Iceland     4310.000
18                Israel     7907.820
19                 Italy    16890.510
20                 Japan    35340.620
21               Lebanon     1693.880
22             Lithuania     1661.060
23                 Malta     2505.470
24           Netherlands   284661.540
25                Norway    35163.460
26                Poland     7213.140
27              Portugal    29367.020
28                   RSA     1002.310
29          Saudi Arabia      131.170
30             Singapore     9120.390
31                 Spain    54774.580
32                Sweden    36595.910
33           Switzerland    56385.350
34                   USA     1730.920
35  United Arab Emirates     1902.280
36        United Kingdom  8187806.364
37           Unspecified     4749.790
0         15.30
1         20.34
2         22.00
3         20.34
4         20.34
          ...
541904    10.20
541905    12.60
541906    16.60
541907    16.60
541908    14.85
Name: totalIncome, Length: 541909, dtype: float64
The product that brought the most income: 168469.6
0         35317.0
1          1841.0
2          1974.0
3          3309.0
4          4698.0
           ...
541904     1528.0
541905     2066.0
541906     1654.0
541907     1006.0
541908     4880.0
Name: totalQuantity, Length: 541909, dtype: float64
 80995

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
95,536378,22352,LUNCH BOX WITH CUTLERY RETROSPOT,6,2010-12-01 09:37:00,2.55,14688.0,United Kingdom
96,536378,21212,PACK OF 72 RETROSPOT CAKE CASES,120,2010-12-01 09:37:00,0.42,14688.0,United Kingdom
97,536378,21975,PACK OF 60 DINOSAUR CAKE CASES,24,2010-12-01 09:37:00,0.55,14688.0,United Kingdom
98,536378,21977,PACK OF 60 PINK PAISLEY CAKE CASES,24,2010-12-01 09:37:00,0.55,14688.0,United Kingdom
99,536378,84991,60 TEATIME FAIRY CAKE CASES,24,2010-12-01 09:37:00,0.55,14688.0,United Kingdom

#### 1. Аналіз по країнах:
- З’ясувати, в якій країні відбулося найбільше транзакцій.
- Порахувати загальний дохід від продажів у кожній країні.

In [2]:
"""
щоб зʼясувати в якій країні відбулось найбільше транзакцій
потрібно проітеруватись по таблиці, та знайти в якій країні найчастіше відбувались
транзакції
"""

country_names = online_retail_dashboard['Country']

country_count = {}

for country in country_names:
    if country in country_count:
        country_count[country] += 1
    else:
        country_count[country] = 1
        
max_country_count = max(country_count.values())
max_country_name = max(country_names, key=country_count.get)
print(f"max country name: {max_country_name}, and max country count: {max_country_count}")

max country name: United Kingdom, and max country count: 495478

In [3]:
"""
Порахувати загальний дохід від продажів кожної країни
"""
online_retail_dashboard['totalIncome'] = online_retail_dashboard['Quantity'] * online_retail_dashboard['UnitPrice']
total_income = online_retail_dashboard.groupby('Country')['totalIncome'].sum().reset_index()
total_income

                 Country  totalIncome
0              Australia   137077.270
1                Austria    10154.320
2                Bahrain      548.400
3                Belgium    40910.960
4                 Brazil     1143.600
5                 Canada     3666.380
6        Channel Islands    20086.290
7                 Cyprus    12946.290
8         Czech Republic      707.720
9                Denmark    18768.140
10                  EIRE   263276.820
11    European Community     1291.750
12               Finland    22326.740
13                France   197403.900
14               Germany   221698.210
15                Greece     4710.520
16             Hong Kong    10117.040
17               Iceland     4310.000
18                Israel     7907.820
19                 Italy    16890.510
20                 Japan    35340.620
21               Lebanon     1693.880
22             Lithuania     1661.060
23                 Malta     2505.470
24           Netherlands   284661.540
25                Norway    35163.460
26                Poland     7213.140
27              Portugal    29367.020
28                   RSA     1002.310
29          Saudi Arabia      131.170
30             Singapore     9120.390
31                 Spain    54774.580
32                Sweden    36595.910
33           Switzerland    56385.350
34                   USA     1730.920
35  United Arab Emirates     1902.280
36        United Kingdom  8187806.364
37           Unspecified     4749.790

### Аналіз виручки:  
- Обчислити дохід для кожної транзакції, перемноживши кількість товарів на їхню ціну (Quantity × UnitPrice).  
- найти товар, який приніс найбільший дохід.

In [4]:
online_retail_dashboard['totalIncome']

0         15.30
1         20.34
2         22.00
3         20.34
4         20.34
          ...
541904    10.20
541905    12.60
541906    16.60
541907    16.60
541908    14.85
Name: totalIncome, Length: 541909, dtype: float64

In [5]:
"""
найти товар, який приніс найбільний дохід print(товар = дохід)
"""

max_total_price = max(online_retail_dashboard['totalIncome'])
print(max_total_price)

168469.6

### Аналіз продажів:  
- Порахувати загальну кількість проданих одиниць кожного товару. Це дозволить визначити, які товари є найбільш популярними.  
- визначити, який товар мав найбільші продажі за кількістю.

In [38]:
"""
порахувати загальну кількість проданих одиниць кожного товару 

оптимізований код знаходження загальної кількості проданих
одиниць кожного товару. використання transform() в якому передаємо функцію "sum"
та виводим результа, по ітогу нам навіть не протрібно використовувати цикл, та унікальні ключі.
"""
positive_data = online_retail_dashboard[online_retail_dashboard['Quantity'] > 0]

result_table = positive_data.groupby('Description')['Quantity'].sum().reset_index()
result_table.columns = ['Category', 'Total Quantity']
result_table.sort_values('Total Quantity', ascending=True, inplace=True)
result_table

                                Category  Total Quantity
637                     CAPIZ CHANDELIER               1
907       CROCHET LILAC/RED BEAR KEYRING               1
2281      ORANGE/FUSCHIA STONES NECKLACE               1
2275          ORANGE FELT VASE + FLOWERS               1
447    BLUE DROP EARRINGS W BEAD CLUSTER               1
...                                  ...             ...
3860  WHITE HANGING HEART T-LIGHT HOLDER           37895
1827             JUMBO BAG RED RETROSPOT           48478
3950   WORLD WAR 2 GLIDERS ASSTD DESIGNS           55047
2065      MEDIUM CERAMIC TOP STORAGE JAR           78033
2401         PAPER CRAFT , LITTLE BIRDIE           80995

[4077 rows x 2 columns]

In [44]:
"""
товар який мав найбільше продажів за кількістю
"""

total_quantity = online_retail_dashboard.groupby('Description')['Quantity'].sum().reset_index()
top_product = total_quantity.loc[total_quantity['Quantity'].idxmax()]

print(top_product)

Description    WORLD WAR 2 GLIDERS ASSTD DESIGNS
Quantity                                   53847
Name: 4009, dtype: object