# Онлайн магазин 
#### Опис: 
У вас є набір даних з інформацією про покупки клієнтів в інтернет-магазині: 
- InvoiceNo: Номер накладної (ідентифікатор транзакції).
- StockCode: Код товару.
- Description: Опис товару.
- Quantity: Кількість проданих одиниць товару.
- InvoiceDate: Дата і час транзакції.
- UnitPrice: Ціна за одиницю товару.
- CustomerID: Ідентифікатор клієнта.
- Country: Країна, де здійснено покупку. 
Необхідно виконати нижче вказані задачі.

#### Задачі:
1. Аналіз по країнах:
- З’ясувати, в якій країні відбулося найбільше транзакцій.
- Порахувати загальний дохід від продажів у кожній країні.

2. Аналіз продажів:
- Порахувати загальну кількість проданих одиниць кожного товару. Це дозволить визначити, які товари є найбільш популярними.
- начити, який товар мав найбільші продажі за кількістю.

3. Аналіз виручки:
- Обчислити дохід для кожної транзакції, перемноживши кількість товарів на їхню ціну (Quantity × UnitPrice).
- найти товар, який приніс найбільший дохід.

In [3]:
import pandas as pd
import numpy as np

online_retail_dashboard = pd.read_excel('data/Online_Retail.xlsx')
online_retail_dashboard.head(1)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom

#### 1. Аналіз по країнах:
- З’ясувати, в якій країні відбулося найбільше транзакцій.
- Порахувати загальний дохід від продажів у кожній країні.

In [62]:
"""
щоб зʼясувати в якій країні відбулось найбільше транзакцій
потрібно проітеруватись по таблиці, та знайти в якій країні найчастіше відбувались
транзакції
"""

country_names = online_retail_dashboard['Country']

country_count = {}

for country in country_names:
    if country in country_count:
        country_count[country] += 1
    else:
        country_count[country] = 1
        
max_country_count = max(country_count.values())
max_country_name = max(country_names, key=country_count.get)
print(f"max country name: {max_country_name}, and max country count: {max_country_count}")

max country name: United Kingdom, and max country count: 495478

In [57]:
"""
Порахувати загальний дохід від продажів кожної країни
"""
online_retail_dashboard['totalIncome'] = online_retail_dashboard['Quantity'] * online_retail_dashboard['UnitPrice']
total_income = online_retail_dashboard.groupby('Country')['totalIncome'].sum().reset_index()
total_income

                 Country  totalIncome
0              Australia   137077.270
1                Austria    10154.320
2                Bahrain      548.400
3                Belgium    40910.960
4                 Brazil     1143.600
5                 Canada     3666.380
6        Channel Islands    20086.290
7                 Cyprus    12946.290
8         Czech Republic      707.720
9                Denmark    18768.140
10                  EIRE   263276.820
11    European Community     1291.750
12               Finland    22326.740
13                France   197403.900
14               Germany   221698.210
15                Greece     4710.520
16             Hong Kong    10117.040
17               Iceland     4310.000
18                Israel     7907.820
19                 Italy    16890.510
20                 Japan    35340.620
21               Lebanon     1693.880
22             Lithuania     1661.060
23                 Malta     2505.470
24           Netherlands   284661.540
25                Norway    35163.460
26                Poland     7213.140
27              Portugal    29367.020
28                   RSA     1002.310
29          Saudi Arabia      131.170
30             Singapore     9120.390
31                 Spain    54774.580
32                Sweden    36595.910
33           Switzerland    56385.350
34                   USA     1730.920
35  United Arab Emirates     1902.280
36        United Kingdom  8187806.364
37           Unspecified     4749.790